<div>
    <h1>podRad.io!</h1>
        <div class="well sidebar-nav">
            <div ng-include="'views/playlist.html'" ng-controller="PlaylistCtrl">
            </div>
        </div>
    <div class="row">
        <div class="span3">
            <div class="well sidebar-nav">
                <div ng-include="'views/pods.html'" ng-controller="PodsCtrl">
                </div>
            </div>
        </div>
        <div class="span8">
            <div ng-switch="podId != null" ng-controller="OnePodCtrl">
                <div ng-switch-when="true" ng-include="'views/onepod.html'">
                </div>
            </div>
        </div>
    </div>
</div>
