<table>
    <tr>
        <td>
            <p><img ng-src="{{ podcontents.image._href }}" width='200px'></img></p>
        </td>
        <td>
            <h2><a ng-href="{{ podcontents.podcastUrl }}">{{ podcontents.title }}</a></h2>
        </td>
    </tr>
</table>
<h3>{{ podcontents.description }}</h3>
<p>How many items do you want to see? 
<form ng-submit="makeRequest()">
    <input type="text" size="5" ng-model="myPod.numResults">
    <button class="btn-primary" type="submit"><i class="icon-refresh icon-white"></i></button>
</form>
</p>
<accordion>
<accordion-group ng-repeat="item in podcontents.item | limitTo:10 " close-others="oneAtATime" heading="{{ item.title }}">
<div ng-bind-html=' item.description '> </div>
<p>
<audio controls preload="metadata">
<source ng-src="{{ item.enclosure._url }}" type="{{ item.enclosure._type }}">
Your browser does not support this content	
</audio>
</p>
</accordion-group>
</accordion>
