<div class="hero-unit">
	<h1>PodRad.io!</h1>
	<table>
		<tr>
			<td>
				<p><img ng-src="{{ podcontents.rss.channel.image.1.url }}"></img></p>
			</td>
			<td>
				<h2><a ng-href="{{ podcontents.rss.channel.link }}">{{ podcontents.rss.channel.title }}</a></h2>
			</td>
		</tr>
	</table>
	<h3>{{ podcontents.rss.channel.description.__cdata }}</h3>
	<ul ng-repeat="item in podcontents.rss.channel.item | limitTo:3">
		<li>
		<p><a ng-click="isCollapsed = !isCollapsed"> {{ item.title }} </a> </p>
		<div collapse="isCollapsed">
			<div ng-bind-html=' item.summary.__cdata '> </div>
			<p>
			<audio controls preload="metadata">
			<source ng-src="{{ item.enclosure._url }}" type="{{ item.enclosure._type}}">
			Your browser does not support this content	
			</audio>
			</p>
		</div>
		</li>
	</ul>
</div>
