<accordion>

    <audio class="curplay span8" controls preload="metadata">
        <source ng-src="{{ playlist.curPlaying.audio }}" type="{{ playlist.curPlaying.type }}">
        Your browser does not support this content
    </audio>

    <accordion-group>

        <accordion-heading>
            <div class="row">
                <div class="span3">
                    <b>{{ playlist.curPlaying.name }}</b> - {{ playlist.curPlaying.title }}
                </div>
            </div>
        </accordion-heading>
        <div class="row">
            <div class="span4 well">
                <div ng-repeat="item in playlist.playlist">
                    <a class="btn btn-mini" ng-click="playItem(item)"><i class="icon-play icon-white"></i></a>
                    <a class="btn btn-mini" ng-click="removeItem(item)"><i class="icon-minus icon-white"></i></a>
                    <b>{{ item.name }}</b> - <em>{{ item.title }}</em>
                </div>
            </div>

            <div class="span6">
                <div class="row">
                    <div class="span2">
                        <img ng-src="{{ playlist.curPlaying.image }}" width='200px'/>
                    </div>
                    <div class="span4">
                        <h2><a ng-href="{{ playlist.curPlaying.podcastUrl }}">{{ playlist.curPlaying.name }}</a></h2>

                        <h3>{{ playlist.curPlaying.title }}</h3>
                        {{ playlist.curPlaying.description }}
                    </div>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>